<div
  class="bg-[#fff] w-full h-[2rem] lg:h-[3.5rem] md:h-[3rem] fixed border-b-[1px] border-gray-200"
></div>
<div
  class="bg-[#fff] w-[2rem] h-[100vh] lg:w-[3.5rem] md:w-[3rem] fixed border-r-[1px] pt-[0.5rem] lg:pt-[1rem] md:pt-[0.8rem] border-gray-200 flex flex-col justify-start items-center gap-4"
>
  <app-navicon title="Home" link="home" icon="fas fa-home" />
  <app-navicon title="Practices" link="practices" icon="fas fa-users" />
  <app-navicon title="Employees" link="employees" icon="fas fa-user" />
  <app-navicon title="Projects" link="projects" icon="fas fa-briefcase" />
  <app-navicon title="Reports" link="reports" icon="fas fa-chart-bar" />
</div>
